body {
    background-color: rgb(2, 30, 39);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.tituloPrograma {
    color: #00aaff;
    margin-top: 20px;
}
#paragrafo {
    margin: 20px;
    font-size: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    width: 100%;
}
figure {
    text-align: center;
}
a img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
}
th, td {
    border: 1px solid #00aaff;
    padding: 10px;
    text-align: left;
}
th {
    background-color: rgba(0, 170, 255, 0.2);
}
form {
    margin: 20px auto;
    max-width: 600px;
}
input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
button {
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: aliceblue;
}